{% extends 'base.html' %}

{% block container %}
    <!-- Page Content -->
    <div class="container" style="min-height: 80vh;">

        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">Register
            <small>Form</small>
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Register</li>
        </ol>
        <!-- Content Row -->
        <div class="row">
            <div class="col-lg-12 mb-4">
                {% comment %} <form action="{% url 'register_user' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>username*</label>
                            <input type="text" name="username" class="form-control" id="first_name" required data-validation-required-message="Please enter your username.">
                            <p class="help-block"></p>
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>First Name*</label>
                            <input type="text" name="first_name" class="form-control" id="first_name" required data-validation-required-message="Please enter your first name.">
                            <p class="help-block"></p>
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Last Name*</label>
                            <input type="text" name="last_name" class="form-control" id="last_name" required data-validation-required-message="Please enter your last name.">
                            <p class="help-block"></p>
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Email*</label>
                            <input type="email" name="email" class="form-control" id="email" required data-validation-required-message="Please enter your email.">
                            <p class="help-block"></p>
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Password*</label>
                            <input type="password" name="password" class="form-control" id="password" required data-validation-required-message="Please enter your password.">
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Confirm Password*</label>
                            <input type="password" name="password2" class="form-control" id="confirm-password" required data-validation-required-message="Please confirm your password.">
                        </div>
                    </div>
                    <div id="success"></div>
                    <!-- For success/fail messages -->
                    <button type="submit" class="btn btn-primary" id="login-btn">Register</button>
                </form> {% endcomment %}


                <form action="{% url 'register_user' %}" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                        <label for="validationCustom01">First Name*</label>
                        <input type="text" name="first_name" class="form-control" id="validationCustom01" placeholder="First Name" required>
                        <div class="valid-feedback">
                            validate
                        </div>
                        <div class="invalid-feedback">
                            Please enter your First Name.
                        </div>
                        </div>
                        <div class="col-md-4 mb-3">
                        <label for="validationCustom02">Last Name*</label>
                        <input name="last_name" type="text" class="form-control" id="validationCustom02" placeholder="Last Name" required>
                        <div class="valid-feedback">
                            validate
                        </div>
                        <div class="invalid-feedback">
                            Please enter your Last Name.
                        </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                        <label for="validationCustom01">Username*</label>
                        <input name="username" type="text" class="form-control" id="validationCustom01" placeholder="Username" required>
                        <div class="valid-feedback">
                            validate
                        </div>
                        <div class="invalid-feedback">
                            Please enter your Username.
                        </div>
                        </div>
                        <div class="col-md-4 mb-3">
                        <label for="validationCustom02">Email*</label>
                        <input name="email" type="email" class="form-control" id="validationCustom02" placeholder="Email" required>
                        <div class="valid-feedback">
                            validate
                        </div>
                        <div class="invalid-feedback">
                            Please enter your Email.
                        </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                        <label for="validationCustom01">Password*</label>
                        <input name="password" type="password" class="form-control" id="validationCustom01" placeholder="Password" required>
                        <div class="valid-feedback">
                            validate
                        </div>
                        <div class="invalid-feedback">
                            Please enter your Password.
                        </div>
                        </div>
                        <div class="col-md-4 mb-3">
                        <label for="validationCustom02">Confirm Password*</label>
                        <input name="password2" type="password" class="form-control" id="validationCustom02" placeholder="Confirm Password" required>
                        <div class="valid-feedback">
                            validate
                        </div>
                        <div class="invalid-feedback">
                            Please enter your Confirm Password.
                        </div>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit">Sign Up</button>
                </form>


            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
{% endblock container %}

